@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');

body{
    margin: 0;
    font-family: Josefin Sans;
}

.upper-todo {
    max-width: 100%;
    height: 30vh;
    background-image: url('assets/bg-desktop-light.jpg');
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding-bottom: 20px;
}

.logo {
    display: flex;
    flex-direction: row;
    max-width: 500px;
    width: 100%;
    color: hsl(0, 0%, 98%);
    align-items: center;
    justify-content: space-between;
}

.logo h1{
    font-weight: 700;
    font-size: 36px;
    letter-spacing: 8px;
}

.theme-change {
    cursor: pointer;
}

.theme-change img{
    width: 36px;
    height: 36px;
}

.main-content {
    display: flex; 
    flex-direction: column;
    align-items: center;
    gap: 32px;
}

.new-todo {
    max-width: 468px;
    width: 100%;
    margin-top: -120px;
    padding: 1rem 16px;
    border: none;
    font-size: 16px;
    color: #2a2a40;
    background-color: hsl(0, 0%, 98%);
    border-bottom: 1px solid rgb(105, 105, 105);
    border-radius: 8px;
}

.todo-container {
    display: flex;
    flex-direction: column;
    max-width: 500px;
    width: 100%;
    color: #2a2a40;
    background-color: hsl(0, 0%, 98%);
    box-shadow: 0 5px 15px rgba(145, 145, 145, 0.3);
    border-radius: 8px;
}

.tasks-list {
    list-style: none;
    margin: 0;
    padding-left: 0;
}

.todo-item{
    padding: 16px;
    display: flex;
    align-items: center;
    border-bottom: 1px solid rgb(216, 216, 216);
}

.todo-item img{
    display: flex;
    width: 32px;
    height: 32px;
    cursor: pointer;
    margin-left: auto;
}

.todo-item input[type="checkbox"] {
    margin-right: 16px;
}

.todo-item.completed span {
    text-decoration: line-through;
    color: #888;
}

/*DARK MODE STYLES */

.dark-mode {
    background-color:rgb(19, 19, 19);
}

.dark-mode .new-todo {
    color: hsl(0, 0%, 98%);
    background-color: #2a2a40;
    border-bottom: 1px solid rgb(22, 22, 22);
}

.dark-mode .todo-container {
    color: hsl(0, 0%, 98%);
    background-color: #2a2a40;
}