body{
    margin: 0;
}

.upper-todo {
    background-image: url("bg-desktop-light.jpg");
}

.header img{
    max-width: 100%;
    height: auto;
    object-fit:contain;
    background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}